@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/assets/fonts/AlteHaasGroteskRegular.otf") format("opentype");
}

html, body {
  height: 100%;
}

body {
  font-family: "AlteHaasGrotesk", Helvetica, sans-serif;
  background: url(/assets/img/bg.png) #181818;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

main {
  height: auto;
}

h1, h4 {
  font-weight: normal;

}

h1 {
  margin: 0 0 .3em;
  font-size: 4em;
}

h4 {
  margin: .3em 0;
  font-size: 2em;
}

h1, h4, a, a:visited, a:active, a:focus {
  color: #D0D0D0;
}

a:hover {
  color: #6993FF;
}

#links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 2em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 6em;
  }
  h4 {
    font-size: 3em;
  }
  #links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
